.bg-white {
  background-color: white;
  padding-right: 1em !important;
  padding-bottom: 1em !important;
  margin-right: 1%; }

.kayaklist .no-hover:hover {
  background-color: white; }

.kayaklist tr:hover {
  background-color: red; }

.kayaklist td img {
  width: 25%; }

hr {
  border-color: #f3f3f3; }

.offer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-bottom: 2em; }
  .offer-wrapper > .card {
    padding: 1em;
    margin-right: 1.5%;
    margin-bottom: 1%;
    width: 32.33%;
    background-color: white; }
    .offer-wrapper > .card ul {
      margin: 0 !important; }
    .offer-wrapper > .card:last-child {
      margin-right: 0; }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .social-media h3 {
    font-size: 1.1em; }

/* #one {
    background-image: url(/images/fisherman.svg);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 40%;
    background-position-y: 100%;
} */
.footer-information {
  color: #f3f3f3 !important; }

.copyright {
  color: #5d6151 !important; }
  .copyright a {
    color: #5d6151 !important;
    font-weight: bold; }

/* CSS */
#movie {
  padding: 0 0 4em 0; }

#movie .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#movie .content {
  width: 50%;
  padding-right: 6em; }

#movie .content:last-child {
  padding-left: 6em;
  padding-right: 0em; }

#partners {
  background-color: #5d6151;
  color: #f2a3a5;
  padding: 4em 0 2em 0;
  background: #5d6151; }

#partners h3 {
  color: #fff; }

#howto {
  background-color: #5d6151;
  color: #e1e2dc;
  padding: 4em 0 2em 0;
  background: #5d6151; }

#howto h3 {
  color: #fff; }

iframe {
  width: 100% !important;
  height: 640px !important; }

.tdOption, .tdPrice {
  text-align: right; }

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product-info .text {
  width: 50%;
  padding-right: 6em;
  margin-bottom: 2em; }

.product-info .description {
  width: 50%; }

@media screen and (max-width: 736px) {
  .product-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .product-info .description {
    width: 100%; }
  .product-info .text {
    width: 100%;
    padding-right: 0; }
  .offer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .offer-wrapper > .card {
      width: 100% !important;
      margin-bottom: 5% !important; } }
