<html>
	<head>
		<title>Pikestrike Sweden</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/ps-css.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
                <a class="header-link" href="/"><img class="header-image" src="../assets/images/pikestrike_logo.png"></a>
				<!-- <a href="index.html" class="logo">introspect</a> -->
				<nav id="nav">
					<a href="/">Home</a>
					<a href="/offers">Offers</a>
					<a href="/kayaks">Kayak fishing</a>
					<a href="#contactus" class="contactus">Contact us</a>
				</nav>
			</div>
		</header>
		<!-- End Header -->

		<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

        {% block main %}

            <!-- Main content -->

        {% endblock %}

		<!-- Footer -->
        <!-- Messages -->
        <section id="footer">
            <div class="inner" id="contactus">
                <header>
                    <h2>Get in Touch</h2>
                </header>
                <form method="post" action="#">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="alt" /></li>
                    </ul>
                </form>
            </div>
        </section>
        <!-- End Messages -->

        <!-- Contact information -->
        <section id="footer" style="background-color: #1c1c1c;">
            <div class="inner">
                <div class="footer-information">
                    <h2>Contact us</h2>
                    <p>Pikestrike Sweden<br>
                    Färmanstorp S-37024<br>
                    Nättraby<br>
                    Phone: +46 705 920 868<br>
                    Mail: pikestrike@hotmail.com
                    </p>
                </div>
                <div class="copyright">
                    &copy; Copyright Pikestrike Sweden 2018 - Created by <a href="https://templated.co/">Albatross Design</a>.
                </div>
            </div>
        </section>
        <!-- End Contact information -->
        <!-- End Footer -->

		<!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/skel.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/ps-main.js"></script>

	</body>
</html>